h1, h2, h3, h4, h5, h6 {
  font-family: 'Rubik', sans-serif;
}

.title {
  letter-spacing: 0.25em;
  font-size: 3em;
  display: inline-block;
  padding: 0.25em;
}
.title.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
  text-shadow: 0.05em 0.075em 0.075em var(--text-secondary);
  margin-left: 0.15em;
  margin-right: 0.15em;
}

.icon {
  width: 4em;
}
.icon.small {
  width: 2em;
}
.icon.inline {
  width: 1em;
  vertical-align: -0.15em;
}
.icon.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}

.card {
  display: inline-block;
  font-size: 1.25rem;
  padding: 0.5em;
  text-align: justify;
  max-width: 80%;
}
.card > p:first-child {
  margin-top: 0;
}
.card > p:last-child {
  margin-bottom: 0;
}
.card.wrap {
  white-space: pre-wrap;
}
.card.box {
  background-color: var(--bg-secondary);
  box-shadow: 0.25em 0.375em 0 0 var(--bg-primary);
}
